/* universal selector */


body {
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#resricted-area:hover {
    border: 1px solid #ff0000;
    cursor: pointer;
}

h3:hover{
    color: #ff0000;
    background-color: #ff0000;
}