body {
    background-color: #212121;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#input {
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
}

